
[V200R003C00]
#
 sysname Hub-PE6
 ftp server enable
#
 board add 0/4 1GEC 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
ip vpn-instance VPN_In
 ipv4-family
  route-distinguisher 400:3
  vpn-target 100:1 200:1 import-extcommunity
#
ip vpn-instance VPN_Out
 ipv4-family
  route-distinguisher 300:3
  vpn-target 300:1 export-extcommunity
#
mpls lsr-id 6.6.6.6
mpls
#
mpls ldp
#
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$ktRQ*_`W;/ttaKRMV|7=K6U2%$%$
 local-user admin service-type http
 local-user test123 password cipher %$%$g*in8tS58'pue~;rf'eUKW@-%$%$
 local-user test123 privilege level 15
 local-user test123 ftp-directory flash:
 local-user test123 service-type telnet ssh ftp
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 192.168.200.5 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip binding vpn-instance VPN_Out
 ip address 10.0.67.6 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip binding vpn-instance VPN_In
 ip address 10.0.76.6 255.255.255.0 
#
interface GigabitEthernet4/0/0
 ip address 10.0.16.6 255.255.255.0 
 mpls
 mpls ldp
#
interface NULL0
#
interface LoopBack0
 ip address 6.6.6.6 255.255.255.255 
#
interface LoopBack1
 ip binding vpn-instance VPN_In
 ip address 6.6.6.7 255.255.255.255 
#
interface LoopBack2
 ip binding vpn-instance VPN_Out
 ip address 6.6.6.8 255.255.255.255 
#
bgp 312
 router-id 6.6.6.6
 peer 66.66.66.66 as-number 312 
 peer 66.66.66.66 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  peer 66.66.66.66 enable
 # 
 ipv4-family vpnv4
  policy vpn-target
  peer 66.66.66.66 enable
 #
 ipv4-family vpn-instance VPN_In 
  router-id 6.6.6.7
  peer 7.7.7.7 as-number 100 
  peer 7.7.7.7 ebgp-max-hop 2 
  peer 7.7.7.7 connect-interface LoopBack1
  peer 7.7.7.7 substitute-as
  peer 7.7.7.7 advertise-ext-community
 #
 ipv4-family vpn-instance VPN_Out 
  router-id 6.6.6.8
  peer 7.7.7.7 as-number 100 
  peer 7.7.7.7 ebgp-max-hop 2 
  peer 7.7.7.7 connect-interface LoopBack2
  peer 7.7.7.7 allow-as-loop 2
#
ospf 1 router-id 6.6.6.6 
 area 0.0.0.0 
  network 6.6.6.6 0.0.0.0 
  network 10.0.16.6 0.0.0.0 
#
 sftp server enable 
 stelnet server enable 
#
ip route-static vpn-instance VPN_In 7.7.7.7 255.255.255.255 10.0.76.7
ip route-static vpn-instance VPN_Out 7.7.7.7 255.255.255.255 10.0.67.7
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound all
user-interface vty 16 20
#
wlan ac
#
return