
[V200R003C00]
#
 sysname Spoke-CE22
 ftp server enable
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$3&&Y8NU#V@$u`z9&SSpSKv-6%$%$
 local-user admin service-type http
 local-user test123 password cipher %$%$LJPQ.P#_I=VRF,-&,:t8KV)\%$%$
 local-user test123 privilege level 15
 local-user test123 ftp-directory flash:
 local-user test123 service-type telnet ssh ftp
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 192.168.200.3 255.255.255.0 
#
interface GigabitEthernet0/0/1
 ip address 10.0.224.22 255.255.255.0 
#
interface GigabitEthernet0/0/2
 ip address 10.0.222.22 255.255.255.0 
#
interface NULL0
#
interface LoopBack0
 ip address 22.22.22.22 255.255.255.255 
#
bgp 100
 router-id 22.22.22.22
 peer 2.2.2.2 as-number 100 
 peer 2.2.2.2 connect-interface LoopBack0
 peer 4.4.4.6 as-number 123 
 peer 4.4.4.6 ebgp-max-hop 2 
 peer 4.4.4.6 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  network 10.0.224.0 255.255.255.0 
  peer 2.2.2.2 enable
  peer 2.2.2.2 next-hop-local 
  peer 4.4.4.6 enable
#
 sftp server enable 
 stelnet server enable 
#
ip as-path-filter noLoop deny 123 123 123 123
#
ip route-static 2.2.2.2 255.255.255.255 10.0.222.2
ip route-static 4.4.4.6 255.255.255.255 10.0.224.4
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound all
user-interface vty 16 20
#
wlan ac
#
return