
[V200R003C00]
#
 sysname Spoke-PE3
 ftp server enable
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 lldp enable 
#
 set cpu-usage threshold 80 restore 75
#
ip vpn-instance VPN
 ipv4-family
  route-distinguisher 100:3
  vpn-target 100:1 export-extcommunity
  vpn-target 300:1 import-extcommunity
#
mpls lsr-id 3.3.3.3
mpls
#
mpls ldp
#
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$,N3U=TDp~@1b#_6*pj<RK~Lv%$%$
 local-user admin service-type http
 local-user test123 password cipher %$%$jnoH8(8ZOQt*ESXv[P;"KWM2%$%$
 local-user test123 privilege level 15
 local-user test123 ftp-directory flash:
 local-user test123 service-type telnet ssh ftp
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.0.35.3 255.255.255.0 
 mpls
 mpls ldp
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/1.1
 dot1q termination vid 1
 ip binding vpn-instance VPN
 ip address 10.0.133.3 255.255.255.0 
 arp broadcast enable
#
interface GigabitEthernet0/0/2
 ip address 192.168.200.11 255.255.255.0 
#
interface NULL0
#
interface LoopBack0
 ip address 3.3.3.3 255.255.255.255 
#
interface LoopBack1
 ip binding vpn-instance VPN
 ip address 3.3.3.4 255.255.255.255 
#
bgp 123
 router-id 3.3.3.3
 peer 26.26.26.26 as-number 123 
 peer 26.26.26.26 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  peer 26.26.26.26 enable
 # 
 ipv4-family vpnv4
  policy vpn-target
  peer 26.26.26.26 enable
 #
 ipv4-family vpn-instance VPN 
  router-id 3.3.3.4
  peer 33.33.33.34 as-number 321 
  peer 33.33.33.34 ebgp-max-hop 2 
  peer 33.33.33.34 connect-interface LoopBack1
#
ospf 1 router-id 3.3.3.3 
 area 0.0.0.0 
  network 3.3.3.3 0.0.0.0 
  network 10.0.35.3 0.0.0.0 
#
 sftp server enable 
 stelnet server enable 
#
ip route-static vpn-instance VPN 33.33.33.34 255.255.255.255 10.0.133.33
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound all
user-interface vty 16 20
#
wlan ac
#
return